.navbar {
	margin-bottom: 0px;
}

.logo {
	margin-bottom: 5px;
	margin-top: 5px;
}

.graphic {
	margin-bottom: 20px;
}

body {
	background-color: #eee;
}

.jumbotron {
	height: 100%;
}

.paddedLR {
	margin-left: 10px;
	margin-right: 10px;
}
